body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 50px;
}

.beginBtn{
    height: 100px;
    width: 200px;
}

#displaySection {
    border: 1px solid black;
    height: 500px;
    width: 800px;
    margin-top: 100px;
}

#displayImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
}

#displayInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 800px;
    text-align: center;
}

button{
    margin: 10px;
}

img {
    height: 100px;
}